:root {
  --border: 1px solid gray;
  --border-radius: 8px;
}
body {
  font-family: "Questrial", sans-serif;
}
h1 {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(58, 104, 188) 0%,
    rgb(39, 22, 89) 100.2%
  );
  height: 65px;
  padding-top: 20px;
  color: white;
  font-size: 22px;
}
.custom-container {
  margin-top: 25px;
}

.input-city {
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: var(--border-radius);
  border: var(--border);
  width: 100%;
}
.search-btn {
  width: 100%;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: rgb(58, 104, 188);
  color: white;
}

.cities-list li {
  width: 100%;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: rgb(166, 190, 232);
  text-align: center;
  color: rgb(32, 31, 31);
}

.main-display {
  height: 250px;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-right: 5px;
  align-items: center;
}

.main-city {
  font-size: 30px;
}
.main-icon {
  font-size: 43px;
}
.main-temp {
  font-size: 43px;
}
.main-f {
  text-align: left;
}
.main-details {
  line-height: 30px;
}
h3 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bolder;
}
.forecast {
  border: var(--border);
  border-radius: var(--border-radius);
  margin-right: 25px;
  background-color: whitesmoke;
  color: rgb(48, 48, 48);
  text-align: center;
}
h4 {
  padding: 15px 2px;
  font-weight: bolder;
  font-size: 17px;
}
.forecast-icon {
  padding: 2px 0 25px;
}
.forecast-details {
  line-height: 22px;
}
.uv-orange {
  background-color: rgb(237, 207, 87);
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
}
.uv-green {
  background-color: rgb(148, 227, 159);
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
}
.uv-red {
  background-color: rgb(227, 148, 148);
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
}
